.dashboard-page{
    display: flex;
    flex-wrap: wrap;
    gap: 60px 80px;
    justify-content: center;
    .dashboard-page-cards   {
        width: 20rem;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        color: #017246;
        text-decoration: none;
        background-color: #e9e5e5;
        font-weight: bold;
        padding: 8rem 7rem;
        border-radius: 30px;
        box-shadow: 0px 5px 10px 0px black;
        gap: 5px;
        &:hover{
            box-shadow: 0px 0px 5px 0px black;
        }
    }
}