.showMovie-page{
    .showMovies-page-top{
        position: relative;
        margin: 10px;
        padding: 40px;
         background: linear-gradient(90deg, rgb(10, 2, 3) 24.97%, rgb(10, 2, 3) 38.3%, rgba(33, 25, 26, 0.784) 97.47%, rgb(10, 2, 3) 100%);
        //background-image: linear-gradient(to right, rgb(10, 2, 3), rgba(33, 25, 26, 0.784));
        box-shadow: 0px 5px 20px 2px;
        color: #fff;
        border-radius: 10px;
        .movies-share-button {
            display: flex;
            flex-direction: column;
            align-items: center; /* Ensure centered alignment */
            position: absolute;
            top: 10%;
            right: 5%;
            background-color: transparent;
            border: none;
            font-size: 30px;
            color: #fff;
            cursor: pointer;
            min-width: 40px; /* Ensures button size remains constant */
          
            .share-alert {
              position: absolute;
              top: 40px; /* Position below the button */
              right: 0; /* Align right */
              font-size: 10px;
              padding: 3px 6px;
              background-color: rgba(107, 110, 103, 0.7);
              border-radius: 5px;
              white-space: nowrap; /* Prevents wrapping */
            }
          }
          .movie-image{
             img{
                border: 2px solid #fff;
                height: 50vh;
                border-radius: 10px;
            }
          }
        
        .showMovies-detail{
            display: flex;   
            align-items: center;
            gap: 20px;
            .movie-rating{
                margin-top: 20px;
                display: flex;
                width: 15rem;
                gap: 1.5rem;
                align-items: center;
                padding: 10px;
                background-color:rgba(107, 110, 103, 0.7);
                border-radius: 20px;
                .rate-now-button{
                    padding: 5px;
                    font-size: .9rem;
                    font-weight: 600;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                }
            }
            .book-ticket-button{
                position: absolute;
                top :70%;
                right: 5%;
                // margin-top: 40px;
                padding: 5px;
                background-color:rgba(107, 110, 103, 0.7); ;
                color: #fff;
                border-radius: 5px;
                border: 2px solid gainsboro;
                cursor: pointer;
                &:hover{
                    background-color:rgba(107, 110, 103, 0.5);
                }
            }
        }
    }
}